/* CSS for admin theme */

	/* TAGS */
		* {
			font-family: Verdana, Helvetica, sans-serif;
			font-size: 12px;	
		}
		
		a {
			text-decoration: none;
			color: #666;
		}
		a:hover {
			text-decoration: underline;
			color: #000;
		}
		html, body { height: 100%; margin: 0px; padding: 0px; }
		body { 
			background-color: #006699; 
		}
		table, td, th, ul {
			margin: 0px;
			padding: 0px;
			border: 0px;
		}
		textarea {
			height: 100px;
		}
		input[type='text'], input[type='password'], textarea {
			width: 340px;
		}
		input[type='text'], textarea, select {
			padding: 2px;		
		}
		h1 {
			margin: 0px;
			padding: 5px;
			font-size: 20px;
		}
		img { border: 0px; }
		li { list-style:  none; }
		small { font-size: 10px; }

	/* Simple Header */
		#login {
			width: 300px;
			margin: 10px 50px;
		}
		#header {
			padding: 0px;
			background-color: #006699;
			border-bottom: 1px solid #CCC;
			color: #FFF;
		}
		#header h1 {
			padding: 0px 10px 4px 10px;
			margin: 10px 2px;
			text-align: left;		
			font-size: 30px;	
			color: #FFF;
		}
		#header h1 a {
			font-size: 14px;
			text-decoration: none;
			color: #F2F2F2;
		}
		#header h1 a:hover {
			color: #006699;
		}
		#header h1 img {
			vertical-align: middle;
		}
		#footer {
			padding: 0px;
			background-color: #006699; 
			border-top: 1px solid #CCC;
		}
		#footer h6 {
			margin: 6px 20px;
			text-align: left;	
			font-size: 10px;
			font-weight: normal;
			text-align: right;
		}
		#producedBy {
			width: 97%;
			margin: 10px auto;
			font-size: 9px;
			text-align: right;
		}
		#producedBy a{
			color: #000;
			text-decoration: none;
			font-size: 9px;
		}
		#producedBy a:hover{
			font-weight: bold;
			font-style: italic;
		}
		#main {
			padding: 20px 0px;
			background-color: #FFF;
			vertical-align: top;
		}
		#main h1{
			font-size: 28px;
		    font-weight: normal;
		    margin-left: 50px;
		    margin-top: 20px;
		}
		#sidebar {
			border-right: 1px solid #CCC;
			width: 18%;
			vertical-align: top;
			background-color: #EEEEEE;
		}
		.menu {
			margin: 20px 5px;
		}
		.menu li{
			padding: 2px 10px;
			font-size: 14px;
		}
		.menu li.last{
			border-right: 0px;
		}
		.menu li.selected {
			border-top: 1px solid #CCCCCC;
			border-bottom: 1px solid #CCCCCC;
			background-color: #FFFFFF;
			background-image: url('/img/admin/arrow.png');
			background-position: 98% 50%;
			background-repeat: no-repeat;
		}
		.menu li a{
			text-decoration: none;
		}
		.menu li.selected a{
			font-size: 16px;
		}
		.menu li a:hover{
			font-style: italic;
		}
			
		.userPanel {
			float: right;
			margin-right: 20px;
			margin-top: -30px;
		}	
		.userPanel a { color: #FFF; }
		
	/* Simple message classes */
		.simple_message {
			display: none;
			position: absolute;
			top: 0px;
			right: 0px;
			width: 100%;
			padding: 8px 0px;
			opacity:0.8;
			filter:alpha(opacity=80);
			
			font-size: 18px;
			text-align: center;
			font-weight: bold;
		}
		.red_message {
			background-color: #F03030;
			color: #FFF;
		}
		.green_message {
			background-color: #30F030;
			color: #FFF;
		}
		.blue_message {
			background-color: #3030F0;
			color: #FFF;
		}

	/* Simple Modal Window */
		#modalWindow {
			display: none;
		    border: 1px solid #006699;
		    background-color: #A1C24F;
		    position: absolute;
		    left: 50%;
		    top: 80px;
		    z-index: 1000;
	
			-webkit-box-shadow: 0px 0px 20px 0px #CCC;
			-moz-box-shadow: 0px 0px 20px 0px #CCC;
			box-shadow: 0px 0px 20px 0px #CCC;  
			
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
					
		    width: 600px;
		    margin-left: -300px;
		    padding-bottom: 10px;
		}
		#modalWindow h1 {
			margin-top: 3px;
		    margin-left: 0px;
			border-bottom: 1px solid #CCC;
			text-align: left;
			color: #FFF;
		}
		#modalWindow .tableData {
			width: 100%;
			margin: 0px auto;
			padding: 10px 0px;
		      background-color: #FFF;
			border-bottom: 1px solid #CCC;
			border-top: 10px solid #FFF;
		}
		#modalWindow .tableData  td.buttonsData {
			padding: 10px 0px;
			text-align: center;
		}
		#modalWindow .tableData  td.leftColData {
			text-align: right;
			width: 120px;
			padding: 8px 3px;
			vertical-align: top;
			background-color: #F5F5F5;
		}
		#modalWindow #close {
			float: right;
		    margin-right: 5px;
		    margin-top: -45px;
		}

	/* Simple Table List*/
		.tableList {
			background-color: #EEE;
			width: 75%;
			margin: 20px 0px 20px 50px;
			border: 1px solid #CCC;
		}
		
		.tableList table {
			width: 100%;
		}
		.tableList th {
			font-size: 14px;
			padding: 5px;
			border-bottom: 1px solid #CCC;
			border-right: 1px solid #CCC;
		}
		.tableList tbody td {
			font-size: 12px;
			padding: 5px;
			border-bottom: 1px solid #EEE;
			background-color: #FFF;
		}
		.tableList thead th.last {
			border-right: 0px;
		}
		.tableList th.last{
			width: 38px;
			text-align: center;
		}
		.tableList td.last{
			width: 40px;
			text-align: right;
		}

	/* Simple Table List Pagination */	
		#pagination { 
			border: 0px; 
			background-color: transparent;
			border-top: 1px solid #CCC;
		}
		#pagination ul {
			margin: 5px;
			padding: 0px;
			text-align: center;
		}
		#pagination li {
			display: inline;
			padding: 2px 8px 2px 4px;
			border-right: 1px solid #CCC;
		}
		#pagination li.selected {
			font-size: 14px;
			font-weight: bold;
		}
		#pagination li.last { border: 0px; }

	/* Simple Table Account */		
		.tableAccount {
			width: 300px;
			margin: 10px 50px;
		}
		.tableAccount td{
			text-align: right;
			padding: 2px;
		}	

	/* Simple Modules PAge */
		#newModule {
			background-color: #FFFFFF;
			border: 1px solid #000000;
			left: 50%;
			margin-left: -400px;
			margin-top: 20px;
			padding: 0px;
			position: absolute;
			width: 215px;
			height: 225px;
		}
		#newModule h1{
		    background-color: #EEEEEE;
			border-bottom: 1px solid #000000;
			font-size: 18px;
			padding: 5px;
			margin: 0px;'
		}
		#newModule form{
			margin: 5px;
		}
		
	/* Simple style datepicker */
		.datepck th, .datepicker tfoot td { background: #333; font: 10px/18px Verdana, Arial, Helvetica, sans-serif; }
		.datepck th span, .datepicker tfoot td span { font-weight: bold; }
		.datepck th, .datepicker tfoot a { color: #FFF; }
		
		.datepck {
			z-index: 999999;
			background-color: #FFF;
			border: 5px solid #333;
			padding: 0px;

			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;			
		}
		.datepck { text-align: center; }
		.datepck td,.datepck th { font-size: 12px; padding:2px;}
		.datepck .over {
			background-color: #333;
			font-weight: bolder;
			color: #FFF;
		}
		#fecha { width: 90px; }

		.waiting {
			opacity:0.4;
			filter:alpha(opacity=40); /* For IE8 and earlier */
			width:100%; height:100%; 
			background-color:#333;
			position: absolute; 
			top: 0px; 
			left: 0px;
			z-index: 999999;
		}
		.waiting div{
			width:300px; height:180px; 
			position: absolute; 
			top: 50%; 
			left: 50%; 
			color:#FFF;
			margin-top: -90px;
			margin-left: -150px; 
			text-align:center; 
			font-size:30px; 
		}


		input.fecha {
			width: 100px;		
		}
		input.medio {
			width: 140px;		
		}
		input.numero {
			width:50px;
		}

#listaProductos {
	width: 95%;
	vertical-align: top;
	border: 1px solid #000;
	background-color: #6D6C69;
	padding: 10px 0;
}
#listaProductos h2 {
	width: 100%;
	padding: 4px 0px;
	margin: 0px;
	background-color: #6D6C69;
	color: #FFF;
}
#listaProductos li {
	list-style: none;	
	padding: 4px 10px;
	background-color: #FFF;
}
#listaProductos div {
	border: 1px solid #111;
	height: 290px;
	overflow-y: auto;
	overflow-x: hidden;
	width: 90%; 
	margin: 0px auto;
}
#listaProductos li.par {
	background-color: #F3F7EA;
}
.mceNoEditor {
	height: 50px;
	margin-right: 10px;
}
ul.listadoTipos{
	border: 1px solid #F1F1F1;
	max-height: 70px;
	overflow: auto;	
	width: 340px;
	margin: 5px;
}
.listadoTipos li{
	list-style: none;
	padding-left: 10px;
	background-color: #F1F1F1;
}
.listadoTipos li.par{
	background-color: #FEFEFE;
}
.pequena {
	font-size: 10px;
}
.campoNoInput {
	font-style: italic;
}
.addNuevo {
		margin-left: 50px;
		width: 200px;
}
.campoMiniFactura {
	width: 50px !important;
	font-size: 9px; 
	text-align: right;
	float: right; 
	height: 14px; 
	line-height: 12px;
	border: 0px;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
}
.campoMiniFactura2 {
	width: 50px !important;
	font-size: 12px; 
	text-align: right;
	float: right; 
	height: 18px; 
	line-height: 14px;
	border: 0px;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
}
